[submodule "wp-content/plugins/grouped-content"]
	path = wp-content/plugins/grouped-content
	url = https://github.com/PurpleTurtleCreative/grouped-content.git
[submodule "wp-content/plugins/completionist"]
	path = wp-content/plugins/completionist
	url = https://github.com/PurpleTurtleCreative/completionist.git
