[submodule "wp-content/plugins/grouped-content"]
	path = wp-content/plugins/grouped-content
	url = https://github.com/PurpleTurtleCreative/grouped-content.git
[submodule "wp-content/plugins/completionist"]
	path = wp-content/plugins/completionist
	url = https://github.com/PurpleTurtleCreative/completionist.git
[submodule "wp-content/themes/purple-turtle-creative"]
	path = wp-content/themes/purple-turtle-creative
	url = https://github.com/PurpleTurtleCreative/purple-turtle-creative.git
[submodule "wp-content/plugins/ptc-resources-server"]
	path = wp-content/plugins/ptc-resources-server
	url = https://github.com/PurpleTurtleCreative/ptc-resources-server.git
[submodule "wp-content/plugins/completionist-pro"]
	path = wp-content/plugins/completionist-pro
	url = https://github.com/PurpleTurtleCreative/completionist-pro.git
